<%= form_for(@fiscal_stat, html: {class: "form-horizontal"}) do |f| %>
  <% if @fiscal_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiscal_stat.errors.count, "error") %> prohibited this fiscal_stat from being saved:</h2>

      <ul>
      <% @fiscal_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :fiscal_year,"Financial Year", class: "control-label" %>
    <div class='controls'><%= f.select(:fiscal_year, options_for_select(["2011-2012","2012-2013"]), prompt: "Select Period") %></div>
  </div>
  <div class="control-group">
    <%= f.label :total_revenue,"Total Revenue", class: "control-label" %>
    <div class='controls'><%= f.text_field :total_revenue %></div>
  </div>
  <div class="control-group">
    <%= f.label :net_profit,"Net Profit", class: "control-label" %>
    <div class='controls'><%= f.text_field :net_profit %></div>
  </div>
  <div class="control-group">
    <%= f.label :currency_type,"Currency Type", class: "control-label" %>
    <div class='controls'><%= f.select(:currency_type, options_for_select(["INR", "USD"]), prompt: "Select Currency") %></div>
  </div>
  <div class="">
    <%= f.submit "Save", class: "btn btn-primary"%>
  </div>
<% end %>