<div class="row-fluid">
  <div class="span3">
    <%= render "navs/corp_left_panel"%>
  </div>

  <div class="panel-sign-in span9"  style="margin-top: 40px;">
    <div class="panel-heading-sign-in">
      <h4>Financial Stats of <%= "#{current_user.name}" %></h4>
    </div>
    <div class="panel-body-sign-in">
      <table class="table">
        <thead>
          <th>Financial Year</th>
          <th>Total Revenue</th>
          <th>Net Profit</th>
          <th>Currency Type</th>
          <th>Eligibility Status</th>
          <th></th>
        </thead>
        <tbody>
          <% @fiscal_stats.each do |fiscal_stat| %>
            <tr>
              <td><%= fiscal_stat.fiscal_year %></td>
              <td><%= fiscal_stat.total_revenue %></td>
              <td><%= fiscal_stat.net_profit %></td>
              <td><%= fiscal_stat.currency_type %></td>
              <td><%= fiscal_stat.eligibility_status %></td>     
              <td><%= link_to 'View', fiscal_stat, class: "btn btn-primary" %></td>
              <!--<td><%#= link_to 'Edit', edit_fiscal_stat_path(fiscal_stat), class: "btn btn-primary" %></td> -->
              <!--<td><%#= link_to 'Destroy', fiscal_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>