<div class="row-fluid">
	<div class="span3">
		<%= render "navs/corp_left_panel"%>
	</div>
	<% f_y = @fiscal_stat.fiscal_year.to_s.concat("-#{@fiscal_stat.fiscal_year + 1}")%>
	<div class="panel-sign-in span9"  style="margin-top: 40px;">
		<div class="panel-heading-sign-in">
			<h4>Details For Financial Year <%= f_y %></h4>
		</div>
		<div class="panel-body-sign-in">
			<table class="table">
				<thead>
					<th></th>
					<th><th>
				</thead>
				<tbody>
					<tr>
						<th>Financial Year</th>
						<td><%= f_y %></td>
					</tr>
					<tr>
						<th>Total Revenue</th>
						<td><%= @fiscal_stat.total_revenue %></td>
					</tr>
					<tr>
						<th>Net Profit</th>
						<td><%= @fiscal_stat.net_profit %></td>
					</tr>
					<tr>
						<th>Eligibility</th>
						<td><%= @fiscal_stat.eligibility_status ? "Yes" : "No" %></td>
					</tr>
					<tr>
						<th>Currency Type</th>
						<td><%= @fiscal_stat.currency_type %></td>
					</tr>
					<tr>
						<th>Social Fund(<%= (Constants::SOCIALFUND_RATIO * 100).to_i %>%)</th>
						<td><%= @fiscal_stat.eligibility_status ? @fiscal_stat.available_social_fund : "N/A"%></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-body-sign-in">
			<%= link_to 'back', fiscal_stats_path %>
		</div>
	</div>
</div>