<table class="table">
	<thead>
		<th>S. No.</th>
		<th>Issue Description</th>
		<th>Related Area</th>
		<th>Area Pin Code</th>
		<th>Issue Status</th>
		<th colspan="3"></th>
	</thead>
	<tbody>						
		<% @issues.each_with_index do |iss,i| %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= iss.issue_description %></td>
				<td><%= iss.issue_area %></td>
				<td><%= iss.issue_area_code %></td>
				<td><%= iss.issue_status ? "Open" : "Closed" %></td>
				<td><%= link_to "View", issue_path(iss.id), class: "btn btn-primary" %></td>
				<% if iss.issue_status%>
					<td><%= link_to "Edit", edit_issue_path(id: iss.id), class: "btn btn-warning" %></td>
				<% else %>
					<td><input type="button" class="btn btn-warning" disabled="disbaled" value="Edit"></td>
				<% end %>
				<%if current_user.role == "NGO"%>
					<%if iss.users.all.include?(current_user)%>
						<td><input type="button" id="int_btn_<%= iss.id%>" class="btn btn-warning" value="Interest Shown" disabled="disabled"></td>
					<%else%>
						<td><input type="button" id="int_btn_<%= iss.id%>" class="btn btn-warning" value="Show Interest" onClick="return setInterestedNgo(<%= iss.id %>);"></td>
					<%end%>
				<%end%>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	function setInterestedNgo(issue_id){
		var u_id = <%= current_user.id%>
		$.ajax({ 
			type: "GET",
			dataType: "json",
			data: {issue_id: issue_id, user_id: u_id},
			url: "/issues/interested_ngos",
			success: function (result) {
				var btn_name = '#int_btn_'+result.iss_id
				$(btn_name).attr("disabled", true);
				$(btn_name).attr("value","Interest Shown");
			}
		});
	}
</script>