<div class="table-responsive">
	<div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
		<table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
			<thead>
				<tr role="row">
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 80px;">S. No.</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 120px;">Category</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 150px;">Issue Title</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" style="width: 90px;">Area</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 110px;">Area Code</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 100px;">Est. Cost</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 110px;">Status</th>
					<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 156px;"></th>
				</tr>
			</thead>
			<tbody role="alert" aria-live="polite" aria-relevant="all">
				<%  @issues.each_with_index do |iss,i| %>
					<tr>
						<% interested_ngos = iss.users.where(role: "NGO").to_a.map{|x| [x.name, x.id]} %>
						<td><%= i + 1 %></td>
						<td><%= iss.category %></td>
						<td><%= iss.issue_title %></td>
						<td><%= iss.issue_area %></td>
						<td><%= iss.issue_area_code %></td>
						<td><%= iss.project_est_cost %> INR</td>
						<td><%= iss.issue_status %></td>
						<td>
							<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
								<a href="<%= issue_path(iss.id) %>" class="btn btn-xs btn-info" data-rel="tooltip" title="" data-original-title="Show Project"><i class="icon-eye-open bigger-120"></i></a>
								<% if iss.issue_status == Constants::IssueStatusConstant.all_to_hash[:open] %>
									<a href="<%= edit_issue_path(id: iss.id) %>" class="btn btn-xs btn-danger"  data-rel="tooltip" title="" data-original-title="Edit Project"><i class="icon-edit bigger-120"></i></a>
								<% else %>
									<a disabled="disabled" class="btn btn-xs btn-danger"><i class="icon-edit bigger-120"></i></a>
								<% end %>
								<%if current_user.role == "NGO"%>
									<%if iss.users.all.include?(current_user) and !iss.issue_status %>
										<a id="int_btn_<%= iss.id%>" disabled="disabled" class="btn btn-xs btn-info"><i class="icon-download-alt bigger-120"></i></a>
									<%else%>
										<a id="int_btn_<%= iss.id%>" onClick="return sendProposal(<%= iss.id %>);" class="btn btn-xs btn-info" data-rel="tooltip" title="" data-original-title="Send Proposal"><i class="icon-download-alt bigger-120"></i></a>
									<%end%>
								<%end%>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% unless @issues.present? %>
	<div class="col-xs-12">
		<% if @comp %>
			<b>No completed issue(s)</b>
		<% else %>
			<b>You have not submitted any issue(s)</b>
		<% end %>
	</div>
<% end %>

<div id="issue_proposal_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Proposal</h3>
  </div>
  <div class="modal-body">
    <%= form_tag proposals_path, class: "form-horizontal", id: "issueProposalForm" do %>
			<div class="control-group">
				<%= label :cost,"Proposed Cost", class: "control-label" %>
				<div class="controls">
					<%= text_field_tag "proposal[proposed_cost]",nil, onkeypress: "return isNumber(event)" %>
				</div>
			</div>
			<div class="control-group">
				<%= label :duration,"Proposed Duration (In Months)", class: "control-label" %>
				<div class="controls">
					<%= text_field_tag "proposal[proposed_duration]",nil, onkeypress: "return isNumber(event)" %>
				</div>
			</div>
			<div class="control-group">
				<%= label :desc,"Description", class: "control-label" %>
				<div class="controls">
					<%= text_area_tag "proposal[desc]" %>
				</div>
			</div>

			<%= hidden_field_tag "proposal[issue_id]", '', id: "issue-id" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary" onclick="submitSendProposalForm();">Send</a>
  </div>
</div>

<script>
	$(function(){
		$("[data-rel='tooltip']").tooltip();
	});

	function sendProposal(issue_id){
		$('#issue_proposal_modal').modal();
		$('#issue-id').val(issue_id);

		// var u_id = <%= current_user.id%>
		// $.ajax({ 
		// 	type: "GET",
		// 	dataType: "json",
		// 	data: {issue_id: issue_id, user_id: u_id},
		// 	url: "/issues/interested_ngos",
		// 	success: function (result) {
		// 		var btn_name = '#int_btn_'+result.iss_id
		// 		$(btn_name).attr("disabled", true);
		// 		$(btn_name).attr("value","Interest Shown");
		// 	}
		// });
	}

	function submitSendProposalForm(){
		var duration = $("#pr_duration").val();
		var cost = $("#pr_cost").val();
		if(duration == ''){
			alert("Please enter proposed duration");
			return false;
		}

		if(cost =='' || cost == 0 || cost == '0'){
			alert("Please enter proposed cost");
			return false;
		}
		$("#issueProposalForm").submit();
	}

</script>