<%
	tooltip_title_show = "Show Project"
	if params[:nav].present? and params[:nav] == "my_issues"
		tooltip_title_show = "Show Issue"
	end
%>
<div class="table-responsive">
	<div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
		<table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
			<thead>
				<tr role="row">
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 80px;">S. No.</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 120px;">Category</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 150px;">Issue Title</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" style="width: 90px;">Area</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  style="width: 110px;">Area Code</th>
					<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 110px;">Status</th>
					<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 156px;"></th>
				</tr>
			</thead>
			<tbody role="alert" aria-live="polite" aria-relevant="all">
				<%  @issues.each_with_index do |iss,i| %>
					<tr>
						<% interested_ngos = iss.users.where(role: "NGO").to_a.map{|x| [x.name, x.id]} %>
						<td><%= i + 1 %></td>
						<td><%= iss.category %></td>
						<td><%= iss.issue_title %></td>
						<td><%= iss.issue_area %></td>
						<td><%= iss.issue_area_code %></td>
						<td id="issue_status_<%= iss.id %>"><%= iss.issue_status %></td>
						<td>
							<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
								<a href="<%= issue_path(iss.id) %>" class="btn btn-xs btn-info" data-rel="tooltip" title="" data-original-title="<%= tooltip_title_show %>"><i class="icon-eye-open bigger-120"></i></a>
								<%= raw(issue_actions(iss)) %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% unless @issues.present? %>
	<div class="col-xs-12" style="width: 100%;text-align: center;background-color: #F3E1C2;">
		<% if @comp %>
			<strong>No completed issue(s)</strong>
		<% else %>
			<strong>No issue(s)</strong>
		<% end %>
	</div>
<% end %>

<div id="issue_proposal_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Proposal</h3>
  </div>
  <div class="modal-body">
    <%= form_tag proposals_path, class: "form-horizontal", id: "issueProposalForm" do %>
			<div class="control-group">
				<%= label :cost,"Proposed Cost", class: "control-label" %>
				<div class="controls">
					<%= text_field_tag "proposal[proposed_cost]",nil, onkeypress: "return isNumber(event)" %>
				</div>
			</div>
			<div class="control-group">
				<%= label :duration,"Proposed Duration (In Months)", class: "control-label" %>
				<div class="controls">
					<%= text_field_tag "proposal[proposed_duration]",nil, onkeypress: "return isNumber(event)" %>
				</div>
			</div>
			<div class="control-group">
				<%= label :desc,"Description", class: "control-label" %>
				<div class="controls">
					<%= text_area_tag "proposal[desc]" %>
				</div>
			</div>

			<%= hidden_field_tag "proposal[issue_id]", '', id: "issue-id" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a> 
    <a href="#" class="btn btn-primary" onclick="submitSendProposalForm();">Send</a>
  </div>
</div>

<script>
	$(function(){
		$("[data-rel='tooltip']").tooltip();
	});

	function sendProposal(issue_id){
		$('#issue_proposal_modal').modal();
		$('#issue-id').val(issue_id);
	}

	function submitSendProposalForm(){
		var duration = $("#pr_duration").val();
		var cost = $("#pr_cost").val();
		if(duration == ''){
			alert("Please enter proposed duration");
			return false;
		}

		if(cost =='' || cost == 0 || cost == '0'){
			alert("Please enter proposed cost");
			return false;
		}
		$("#issueProposalForm").submit();
	}

	function changeStatus(issue_id, status){
		if(confirm("Are you sure ?")){
			$.ajax({
				type: 'PUT',
				url: 'issues/' + issue_id + '/change_status',
				dataType: 'json',
				data: {
					status: status,
					authenticity_token: "<%= form_authenticity_token %>"
				},
				success: function(response){
					var rejectBtn = $("#reject_" + issue_id);
					rejectBtn.attr("disabled","disabled");
					rejectBtn.tooltip("destroy");

					if(status == 'q'){
						var approvePendingBtn = $("#approve_pending_" + issue_id);
						approvePendingBtn.attr("disabled","disabled");
						approvePendingBtn.tooltip("destroy");
					}else if(status == 'a'){
						var approveBtn = $("#approve_" + issue_id);
						approveBtn.attr("disabled","disabled");
						approveBtn.tooltip("destroy");
					}

					var statusTd = $("#issue_status_" + issue_id);
					statusTd.text(response["issue_status"]);
				}
			});
		}
		return false;
	}

</script>