<div class="row-fluid">
	<div class="span3">
		<%= render_panel(current_user.role) %>
	</div>
	<div class="panel-sign-in span9" style="margin-top: 40px;">
		<div class="panel-heading-sign-in">
			<h4>Create New Issue</h4>
		</div>
		<div class="panel-body-sign-in">
			<div class="form-wrapper">
				<%= form_for(@issue, html: {id: "newIssue", class: "form-horizontal"}) do |f| %>
					<% if @issue.errors.count > 0 %>
						<div id="error_explanation" style="color: red;">
							<h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
							<ul>
								<% @issue.errors.full_messages.each do |m| %>
									<li><%= m%></li>
								<% end %>
							</ul>
						</div>
						<div class="space-6"></div>
					<% end %>
					<div class="control-group">
						<%= label :issue_title, "Issue Title", class: "control-label" %>
						<div class="controls">
							<%= f.text_field :issue_title, style: "width: 350px;"%>
						</div>
					</div>

					<div class="control-group">
						<%= label :desc, "Issue Description", class: "control-label" %>
						<div class="controls">
							<%= f.text_area :issue_description, style: "width: 350px;"%>
						</div>
					</div>

					<div class="control-group">
						<%= label :area, "Issue Area/Locality", class: "control-label" %>
						<div class="controls">
							<%= f.text_field :issue_area %>
						</div>
					</div>

					<div class="control-group">
						<%= label :area_code, "Area/Locality Pin", class: "control-label" %>
						<div class="controls">
							<%= f.text_field :issue_area_code %>
						</div>
					</div>

					<div class="control-group">
						<%= label :category, "Category", class: "control-label" %>
						<div class="controls">
							<%= f.select(:category, options_for_select(Constants::IssueCategoryConstant.to_list), prompt: "Select Category") %>
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button type="button" onclick="submitNewIssueForm();" class="btn btn-primary">Create Issue</button>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	function submitNewIssueForm(){
		$("#newIssue").submit();
	}
</script>