<div class="row-fluid">
	<div class="span3">
		<%= render "navs/socialist_right_panel"%>
	</div>

	<div class="panel-sign-in span9"  style="margin-top: 40px;">
		<div class="panel-heading-sign-in">
			<h4>All Issues</h4>
		</div>
		<div class="panel-body-sign-in">
			<%= render '/common_fields'%>
			<div class="control-group">
				<%= label :age, "Age: "%>
				<span class="controls"><%= @user.age%></span>
			</div>
			<div class="control-group">
				<%= label :gender, "Gender: "%>
				<span class="controls"><%= @user.gender%></span>
			</div>
			<div class="control-group">
				<%= label :adhaar, "Aadhar Number: "%>
				<span class="controls"><%= @user.adhaar_number%></span>
			</div>
			<div class="control-group">
				<%= label :voter, "Voter ID: "%>
				<span class="controls"><%= @user.voter_id%></span>
			</div>
			<div class="control-group">
				<%= label :nationality, "Nationality: "%>
				<span class="controls"><%= @user.nationality%></span>
			</div>
			<div class="control-group">
				<%= label :pan, "Pan Number: "%>
				<span class="controls"><%= @user.pan_number%></span>
			</div>
			<div class="control-group">
				<span class="controls"><%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary"%></span>
			</div>
		</div>
	</div>
</div>