<%= render '/common_fields'%>
<div class="control-group">
	<%= label :service_type, "Service Type: "%>
	<span class="controls"><%= current_user.service_type%></span>
</div>
<div class="control-group">
	<%= label :owner, "Owner: "%>
	<span class="controls"><%= current_user.owner%></span>
</div>
<div class="control-group">
	<%= label :year_established, "Year Established: "%>
	<span class="controls"><%= current_user.year_established%></span>
</div>
