<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>:: Social Help ::</title> 
	<%= javascript_include_tag "home/index", "slider/index"%>
	<%= stylesheet_link_tag "home/index", "slider/index", media: "all" %>
	
  <!--[if lt IE 9]>
    <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('hgroup');
    </script>
    <![endif]-->
 
   
    
</head>
 
<body>
<!-- HEADER START -->
<header>
	<section class="header_wrapper"> 
		<section class="logo_section">
			<div class="logo"><a href="<%= root_path %>"><img src="/assets/logo.png" alt="Website Logo" /></a></div>
			<div class="logIn">
				<span class="signInText">User Login</span>
				<span class="signUpText">New user <strong><a href="<%= new_user_registration_path %>">Signup</a></strong></span>
				<div class="clear"></div>
				<%= form_for(@user, :url => "/users/sign_in") do |f| %>
					<input type="email" placeholder="Email" name="user[email]" class="s_field" />
					<input type="password" placeholder="Password" name="user[password]" class="s_field" />
					<input type="submit" value="GO" class="s_button" />
					<div class="clear"></div>
				<%end%>
				<span class="forgotText"><a href="#">forgot password</a><span>
			</div>
			<div class="clear"></div>
		</section>
		<div class="clear"></div>
		
		<section class="menu_section">
			<nav>
				<ul>                                                                                    
					<li><a href="<%= root_url %>">HOME</a></li>
					<li><a href="<%= new_user_registration_path %>">donate</a></li>
					<li><a href="#">payroll giving</a></li>
					<li><a href="#">iGive</a></li>
					<li><a href="#">help center</a></li>
					
				</ul>
			</nav>
			<div class="donateNow"><a href="<%= new_user_registration_path %>">DONATE NOW</a></div>
		</section>
		
	</section>
</header>
<!-- HEADER END -->

<!-- SLIDER START -->
<section class="slider">
<div class="banner_s" id="banner-slide"> 
<!-- start Basic Jquery Slider -->
<ul class="bjqs">
<li><img src="/assets/img1.png" title=""></li>
<!--<li><img src="/assets/img2.png" title=""></li>-->
<li><img src="/assets/img3.png" title=""></li>
</ul>
<!-- end Basic jQuery Slider --> 

</div>
<div class="search_form">
	<div class="big_button"><a href="<%= new_user_registration_path %>">CREATE YOUR CAUSE</a></div>
	<div class="big_button"><a href="<%= new_user_registration_path %>">CHOOSE YOUR CAUSE</a></div>
	 <form>
		<div class="elem">
			<label>By Amount:</label>
			<select class="select s_field">
				<option>Select</option>
				<option>500</option>
				<option>1,000</option>
				<option>1,500</option>
				<option>2,000</option>
				<option>2,500</option>
				<option>3,000</option>
			</select>
			<div class="clear"></div>
		</div>
		
		<div class="elem">
			<label>By Cause:</label>
			<select class="select s_field">
				<option>Select</option>
				<% Constants::IssueCategoryConstant.to_list.each do |c|%>
					<option><%= c %></option>
				<% end %>
			</select>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<input type="button" value="Donate" class="search_button" onclick="signIn();" />
		<!-- <a href="#" class="adv_search">Advanced Search</a> -->
		<div class="clear"></div>
	</form>
</div>
<!-- End outer wrapper --> 

</div>

</section>
<!-- SLIDER END -->

<!-- MAIN CONTAINER START -->
<section class="wrapper">
	
	<div class="causeOfMonth">
		<div class="global_header">
			<span class="headerName">Cause Of The Month</span>
		</div>
		<div class="com_box_container">
			<div class="com_box">
				<img src="/assets/com_img1.png" />
				<p class="com_title">Child Education</p>
				<div class="com_info"><p>Donate a Sewing Machine to destitute woman or widow in need</p></div>
				<a href="<%= new_user_session_path %>" class="com_button">Donate Now</a>
			</div>
			<div class="com_box">
				<img src="/assets/com_img2.png" />
				<p class="com_title">Construction</p>
				<div class="com_info"><p>Donate a Sewing Machine to destitute woman or widow in need</p></div>
				<a href="<%= new_user_session_path %>" class="com_button">Donate Now</a>
			</div>
			<div class="com_box">
				<img src="/assets/com_img3.png" />
				<p class="com_title">Child Education</p>
				<div class="com_info"><p>Donate a Sewing Machine to destitute woman or widow in need</p></div>
				<a href="<%= new_user_session_path %>" class="com_button">Donate Now</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- LEFT START -->
    <div class="left_section">
		<div class="about_us">
			<div class="global_header">
				<span class="headerName">About Us</span>
			</div>
			<div class="aboutText">
				<p>We connect individuals with 200+ grassroot NGOs working for the poor in India. All organizations have been pre-screened by us so that you can trust that they will use your donation correctly.<br/><br/>
By helping you donate to these charities online, we ensure that your giving is efficient and impactful.<br/>
We guarantee that 90% of your donation reaches the NGO you chose.<br/>
We connect individuals with 200+ grassroot NGOs working for the poor in India. All organizations have been pre-screened by us so that you can trust that they will use your donation correctly.
</p>
			</div>
			<div class="testimonials">
				<div class="global_header">
					<span class="headerName">Testimonial</span>
				</div>
			

			<div class="testimonialText">
				<div id="demo1" class="row">
					<div class="item large-12 columns">
					<div class="panel">
					<blockquote>
					<p>We connect individuals with 200+ grassroot NGOs working for the poor in India. All organizations have been pre-screened by us so that you can trust that they will use your donation correctly.</p>
					</blockquote>
					<p class="testBy">A. Thomas</p>
					</div>
					</div>
					<div class="item large-12 columns">
					<div class="panel">
					<blockquote>
					<p>All organizations have been pre-screened by us so that you can trust that they will use your donation correctly.</p>
					</blockquote>
					<p class="testBy">V. Thomas</p>
					</div>
					</div>
					<div class="item large-12 columns">
					<div class="panel">
					<blockquote>
					<p>All organizations have been pre-screened by us so that you can trust that they will use your donation correctly. We connect individuals with 200+ grassroot NGOs working for the poor in India.</p>
					</blockquote>
					<p class="testBy">S. Thomas</p>
					</div>
					</div>
				</div>
			</div>
				
			</div>
		</div>
	</div>
	<!-- LEFT END -->
	<!-- RIGHT START -->
	<div class="right_section">
		<div class="register">
			<div class="global_header">
				<span class="headerName">Register</span>
			</div>
			<div class="card"><a href="#"><img src="/assets/card.png" /></a></div>
		</div>
		
		<div class="NGO">
			<div class="global_header">
				<span class="headerName">NGOs</span>
			</div>
			<div class="imgNGO">
				<div class="row">
					<div class="large-12 columns">
						<ul id="demo2" class="large-12 columns">
							<% @registered_ngos.each do |user|%>
								<% if user.logo.present? %>
									<li>
										<%= image_tag(user.logo.logo.url(:medium))%>
									</li>
								<%else%>
									<li>
										<%= image_tag("missing.jpg")%>
									</li>    	
								<%end%>
							<%end%>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="clear"></div>
	
	<div class="sponsor">
		<div class="global_header">
			<span class="headerName">Corporate partners</span>
		</div>
		<ul id="flexiselDemo3">
			<% @corporate_partners.each do |user|%>
				<% if user.logo.present? %>
					<li>
						<%= image_tag(user.logo.logo.url(:medium))%>
					</li>
				<%else%>
					<li>
						<%= image_tag("missing.jpg")%>
					</li>    	
				<%end%>
			<%end%>
		</ul>    
	</div>
	
	
	
	<!-- RIGHT END -->
	<div class="clear"></div>
</section>
<!-- MAIN CONTAINER END -->

<!-- FOOTER START -->
	<footer>
		<section class="footer_wrapper">
		   <span>&copy; 2014,  All rights are reserved.</span>
		</section>
	</footer>
<!-- FOOTER END -->

<script class="secret-source">
		/*MAIN SLIDER*/
		function signIn(){
				window.location = "/users/sign_in";
		}

        jQuery(document).ready(function($) {
          
          $('#banner-slide').bjqs({
            height        : 370,
            width         : 680,
            responsive    : true,
            randomstart   : true
          });
          
        });
		/**END MAIN SLIDER */
		/* SPONSORS */
		 $("#flexiselDemo3").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 5000,            
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 1
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2
            },
            tablet: { 
                changePoint:768,
                visibleItems: 3
            }
        }
    });
	/* END SPONSORS */	
      </script> 

</body>
</html>