<div class="row-fluid">
	<div class="span3">
		<%= render_panel(current_user.role) %>
	</div>

	<div class="span9"  style="margin-top: 40px;">
		<div class="row">
			<div class="col-xs-12">
				<div class="table-header">
					<%= params[:cat].present? ? params[:cat].split("_").map{|a| a.capitalize}.join(' ') : "Pending Reports"%>
				</div>
				<div class="table-responsive">
					<div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
						<table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
							<thead>
								<tr role="row">
									<th class="sorting" role="columnheader" tabindex="0" style="width: 80px;">S. No.</th>
									<th class="sorting" role="columnheader" tabindex="0" style="width: 180px;">Project Name</th>
									<th class="sorting" role="columnheader" tabindex="0" style="width: 80px;">Complete</th>
									<th class="sorting" role="columnheader" tabindex="0" style="width: 145px;">Assigned To</th>
									<th class="sorting" role="columnheader" tabindex="0" style="width: 100px;">Project Duration</th>
									<th class="sorting" role="columnheader" tabindex="0" style="width: 120px;">Remarks</th>
									<th class="sorting" role="columnheader" tabindex="0" style="width: 100px;">Status</th>
									<th class="" role="columnheader" tabindex="0" aria-controls="sample-table-2" style="width: 120px;"></th>
								</tr>
							</thead>
							<tbody role="alert" aria-live="polite" aria-relevant="all">
								<% @project_reports.each_with_index do |report,i| %>
									<tr>
										<td><%= i + 1 %></td>
										<td><%= report.project.project_name %></td>
										<td><%= report.percent_done %>%</td>
										<td><%= report.user.name %></td>
										<td><%= report.project.project_duration %> Month(s)</td>
										<td><%= report.remarks %></td>
										<td id="report_status_<%= report.id %>"><%= report.status %></td>
										<td>
											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<a href="<%= project_path(id: report.project_id) %>" class="btn btn-xs btn-info" data-rel="tooltip" title="" data-original-title="Show Project"><i class="icon-eye-open bigger-120"></i></a>
												<% if current_user.inspector? and params[:cat].present? and params[:cat] == "pending_reports" %>
													<a href="#" onclick="approveReport(this, <%= report.id %>);" class="btn btn-xs btn-success" data-action="approve"  data-rel="tooltip" title="" data-original-title="Approve Report"><i class="icon-check bigger-120"></i></a>
													<a href="#" onclick="approveReport(this, <%= report.id %>);" class="btn btn-xs btn-danger" data-action="reject" data-rel="tooltip" title="" data-original-title="Reject Report"><i class="icon-minus bigger-120"></i></a>
												<% end %>
											</div>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<% unless @project_reports.present? %>
					<div class="col-xs-12" style="width: 100%;text-align: center;background-color: #F3E1C2;">
						<strong>No project report(s)</strong>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		$("[data-rel='tooltip']").tooltip();
	});

	function approveReport(btn, report_id){
		if(confirm("Are you sure ?")){
			var action = $(btn).attr("data-action");
			$.ajax({
				type: 'PUT',
				url: "/project_reports/" + report_id + "/" + action,
				dataType: 'json',
				data: {
					authenticity_token: "<%= form_authenticity_token %>"
				},
				success: function(response){
					$(btn).attr("disabled","disabled");
					$(btn).tooltip("destroy");

					act1 = action == "approve" ? "reject" : "approve";

					var btn1 = $("a[data-action='" + act1 + "']");;
					btn1.attr("disabled","disabled");
					btn1.tooltip("destroy");

					var statusTd = $("#report_status_" + report_id);
					statusTd.text(response["report_status"]);
				}
			});
		}
		return false;
	}
</script>