<div class="row-fluid">
	<div class="span3">
		<%= render "navs/socialist_right_panel"%>
	</div>

	<div class="panel-sign-in span9"  style="margin-top: 40px;">
		<div class="panel-heading-sign-in">
			<h4><%= @project.project_name %></h4>
		</div>
		<div class="panel-body-sign-in">
			<table class="table">
				<tbody>
					<tr>
						<th>Project name</th>
						<td><%= @project.project_name %></td>
					</tr>
					<tr>
						<th>Project type</th>
						<td><%= @project.project_type %></td>
					</tr>
					<tr>
						<th>Area</th>
						<td><%= @project.area %></td>
					</tr>
					<tr>
						<th>Project est cost</th>
						<td><%= @project.project_est_cost %></td>
					</tr>
					<tr>
						<th>Project actual cost</th>
						<td><%= @project.project_actual_cost %></td>
					</tr>
					<tr>
						<th>Est start date</th>
						<td><%= @project.est_start_date %></td>
					</tr>
					<tr>
						<th>Actual start date</th>
						<td><%= @project.actual_start_date %></td>
					</tr>
					<tr>
						<th>Est completion date</th>
						<td><%= @project.est_completion_date %></td>
					</tr>
					<tr>
						<th>Actual completion date</th>
						<td><%= @project.actual_completion_date %></td>
					</tr>
					<tr>
						<th>Assigned to</th>
						<td><%= User.fetch_user_names(@project.assigned_to) %></td>
					</tr>
					<tr>
						<th>Assigned by</th>
						<td><%= User.fetch_user_names(@project.assigned_by) %></td>
					</tr>
					<tr>
						<th>Verified by</th>
						<td><%= User.fetch_user_names(@project.verified_by) %></td>
					</tr>
					<tr>
						<th>Closed by</th>
						<td><%= User.fetch_user_names(@project.closed_by) %></td>
					</tr>
					<tr>
						<th>Project duration</th>
						<td><%= @project.project_duration %></td>
					</tr>
				</tbody>
				<%= link_to 'Edit', edit_project_path(@project) %> |
				<%= link_to 'Back', projects_path %>
			</table>
		</div>
	</div>
</div>