<div class="sidebar" id="sidebar">

	<ul class="nav nav-list">
		<li id="li_dashboard">
			<a href="/dashboard">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Dashboard </span>
			</a>
		</li>

		<li>
			<a href="#" class="dropdown-toggle">
				<i class="icon-text-width"></i>
				<span class="menu-text"> All Issues </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<% Constants::IssueStatusConstant.to_list.each do |c| %>
					<% cat = c.downcase.strip.split(" ").join("_") %>
					<li id="li_<%= cat %>">
						<a href="/issues?cat=<%= cat %>">
							<i class="icon-double-angle-right"></i>
							<%= c %>
						</a>
					</li>
				<% end %>
			</ul>
		</li>

		<li>
			<a href="#" class="dropdown-toggle">
				<i class="icon-desktop"></i>
				<span class="menu-text"> Project Reports </span>
				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li id="li_pending_reports">
					<a href="/project_reports?cat=pending_reports">
						<i class="icon-double-angle-right"></i>
						Pending Reports
					</a>
				</li>

				<li id="li_approved_reports">
					<a href="/project_reports?cat=approved_reports">
						<i class="icon-double-angle-right"></i>
						Approved Reports
					</a>
				</li>

				<li id="li_rejected_reports">
					<a href="/project_reports?cat=rejected_reports">
						<i class="icon-double-angle-right"></i>
						Rejected Reports
					</a>
				</li>
			</ul>
		</li>

		<li id="li_comp_projects">
			<a href="/projects/completed_projects?nav=comp_projects">
				<i class="icon-list"></i>
				<span class="menu-text"> Completed Projects </span>
			</a>
		</li>

		<li id="li_profile">
			<a href="/profile?nav=profile">
				<i class="icon-edit"></i>
				<span class="menu-text"> Profile </span>
			</a>
		</li>
	</ul>

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

</div>
<script>
	<% if params[:nav].present? %>
		var nav = "<%= params[:nav] %>"
		$("#li_" + nav).addClass("active");
	<% elsif params[:cat].present? %>
		var category = "<%= params[:cat] %>"
		var li = $("#li_" + category);
		li.addClass("active");
		li.parent().closest("li").addClass("open").addClass("active");
	<% else %>
		$("#li_dashboard").addClass("active");
	<% end %>
</script>