<div class="row-fluid">
  <div class="span3">
    <%= render_panel(current_user.role) %>
  </div>

  <div class="panel-sign-in span9"  style="margin-top: 40px;">
    <div class="panel-heading-sign-in">
      <h4>List Of Proposals</h4>
    </div>
    <div class="panel-body-sign-in">
      <%if @proposals.present?%>
        <table class="table">
          <thead>
            <th>Related Issue Name</th>
            <th>Proposed Cost</th>
            <th>Proposed Duration</th>
            <th>Description</th>
            <th>
              <%if current_user.role == "Analyst"%>
                Proposed By
              <%else%>
                Accepted
              <%end%>
            </th>
            <th>Action</th>
          </thead>
          <tbody>
            <% @proposals.each do |prop| %>
              <tr>
                <td><%= prop.issue.issue_title %></td>
                <td><%= prop.proposed_cost %></td>
                <td><%= prop.proposed_duration %> Months</td>
                <td><%= prop.desc %></td>     
                <td>
                  <%if current_user.role == "Analyst"%>
                    <%= prop.user.name%>
                  <%else%>
                    <%= prop.accepted ? "Yes" : "No" %>
                  <%end%>
                </td>
                <td>
                  <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                    <%if current_user.role == "Analyst"%>
                      <%if @project.present? %>
                        <button class="btn btn-xs btn-success" disabled="disabled" data-rel="tooltip" title="" data-original-title="Project Approved"><i class="icon-ok bigger-120"></i></button>                    
                      <%else%>
                        <button class="btn btn-xs btn-success proposal" onclick="approveProject(<%= @avl_cat_fund%>, <%= params[:issue_id]%>, <%= prop.proposed_cost%>, <%= prop.proposed_duration%>, <%= prop.user_id%>, <%= prop.id%>);" data-rel="tooltip" title="" data-original-title="Approve Project"><i class="icon-ok bigger-120"></i></button>
                      <%end%>
                    <%elsif current_user.role == "NGO" %>
                    <% already_present = Project.find_by(issue_id: prop.issue_id)%>
                      <%if already_present.present? %>
                        <button class="btn btn-xs btn-danger" disabled="disabled" data-rel="tooltip" title="" data-original-title="Can't Edit Now"><i class="icon-edit bigger-120"></i></button>                    
                      <%else%>
                        <a href="<%= edit_proposal_path(prop) %>" class="btn btn-xs btn-danger"  data-rel="tooltip" title="" data-original-title="Edit Proposal"><i class="icon-edit bigger-120"></i></a>
                      <%end%>
                    <%end%>
                  </div>  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%else%>
        <p>No Proposal Found.</p>
      <%end%>
    </div>
  </div>
</div>
<script>
  function approveProject(avl_fund, issue_id, prCost, prDuration, prUserId, prId){
    if (prCost > avl_fund){
      alert("Sorry You Don't Have Sufficient Fund To Allocate This Project.");
      return false
    }
    $.ajax({
      type: "POST",
      dataType: "json",
      data: {
        project: {
          issue_id: issue_id,
          project_actual_cost: prCost,
          project_duration: prDuration,
          user_id: prUserId,
          prop_id: prId
        },
        authenticity_token: "<%= form_authenticity_token %>"
      },
      url: '/projects',
      success: function(result){
        $('.proposal').attr("disabled", true);
        alert('Proposal Approved And Project Assigned Successfully');
      }
    });

  }

</script>