<div class="row-fluid">
	<div class="span4">
		<%= image_tag('join_us.jpg', style: "padding: 40px;")%>
		<br />
		<b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</b>
	</div>
	<div class="panel span8">
		<div class="panel-heading">
			<h4>Sign Up</h4>
		</div>
		<div class="panel-body">
			<div class="form-wrapper">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
					<div style="color: red;">
						<%= devise_error_messages! %>
					</div>

					<div class="control-group">
						<%= f.label :role, "Register Me As: ", class: "control-label" %>
						<div class="controls">
							<%= f.select(:role, options_for_select(["Corporate","NGO","Socialist","Analyst"]),{prompt: "Select Your Role"}, onchange: "cascadeForm(this.value);") %>
						</div>
					</div>

					<fieldset>
						<legend>Sign In Details</legend>
						<div class="control-group">
							<%= f.label :email,"", class: "control-label" %>
							<div class="controls">
								<%= f.email_field :email, :autofocus => true %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :password,"", class: "control-label" %>
							<div class="controls">
								<%= f.password_field :password %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :password_confirmation,"", class: "control-label" %>
							<div class="controls">
								<%= f.password_field :password_confirmation %>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>Contact Details</legend>
						<div class="control-group">
							<%= f.label :name,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :name %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :address,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_area :address %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :city,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :city %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :pin_code,"", class: "control-label" %>
							<div class="controls">
								<%= f.number_field :pin_code %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :state,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :state %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :country,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :country %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :mobile_number,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :mobile_number %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :phone_number,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :phone_number %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :fax_number,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :fax_number %>
							</div>
						</div>
					</fieldset>

					<div id="company-fields" class="hide">
						<fieldset>
							<legend>Company Details</legend>
						<div class="control-group">
							<%= f.label :company_group,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :company_group %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :tan_number,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :tan_number %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :no_of_employees,"", class: "control-label" %>
							<div class="controls">
								<%= f.number_field :no_of_employees %>
							</div>
						</div>
						</fieldset>
					</div>

					<div id="individual-details" class="hide">
						<fieldset>
							<legend>Personal Details</legend>
							<div class="control-group">
								<%= f.label :age,"", class: "control-label" %>
								<div class="controls">
									<%= f.number_field :age %>
								</div>
							</div>

							<div class="control-group">
								<%= f.label :gender,"", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :gender %>
								</div>
							</div>

							<div class="control-group">
								<%= f.label :adhaar_number,"", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :adhaar_number %>
								</div>
							</div>

							<div class="control-group">
								<%= f.label :voter_id,"", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :voter_id %>
								</div>
							</div>

							<div class="control-group">
								<%= f.label :nationality,"", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :nationality %>
								</div>
							</div>

							<div class="control-group">
								<%= f.label :pan_number,"", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :pan_number %>
								</div>
							</div>
						</fieldset>
					</div>

					<div id="ngo-details" class="hide">
						<fieldset>
							<legend>NGO Details</legend>
						<div class="control-group">
							<%= f.label :service_type,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :service_type %>
							</div>
						</div>
						</fieldset>
					</div>

					<div id="company-ngo-common" class="hide">
						<div class="control-group">
							<%= f.label :owner,"", class: "control-label" %>
							<div class="controls">
								<%= f.text_field :owner %>
							</div>
						</div>
						
						<div class="control-group">
							<%= f.label :year_established,"", class: "control-label" %>
							<div class="controls">
								<%= f.number_field :year_established %>
							</div>
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button type="button" onclick="submitNewUserForm();" class="btn">Sign Up</button>
						</div>
					</div>
				<% end %>
			</div>
			<%= render "users/shared/links" %>
		</div>
	</div>	
</div>