<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <table align="center">
  	<tr>
  		<th><%= f.label :role, "Register Me As: " %></th>
  		<td><%= f.select(:role, options_for_select(["Corporate","NGO","Socialist","Analyst"]),{prompt: "Select Your Role"}) %></td>
  	</tr>

	  <tr>
	  	<th><%= f.label :name %></th>
	  	<td><%= f.text_field :name %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :address %></th>
	  	<td><%= f.text_area :address %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :pin_code %></th>
	  	<td><%= f.number_field :pin_code %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :city %></th>
	  	<td><%= f.text_field :city %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :state %></th>
	  	<td><%= f.text_field :state %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :country %></th>
	  	<td><%= f.text_field :state %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :mobile_number %></th>
	  	<td><%= f.text_field :mobile_number %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :phone_number %></th>
	  	<td><%= f.text_field :phone_number %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :fax_number %></th>
	  	<td><%= f.text_field :fax_number %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :email %></th>
	  	<td><%= f.email_field :email, :autofocus => true %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :password %></th>
	  	<td><%= f.password_field :password %></td>
	  </tr>

	  <tr>
	  	<th><%= f.label :password_confirmation %></th>
	  	<td><%= f.password_field :password_confirmation %></td>
	  </tr>

	  <div id="company_details">
		  <tr>
		  	<th><%= f.label :company_group %></th>
	  		<td><%= f.text_field :company_group %></td>
			</tr>

		  <tr>
		  	<th><%= f.label :tan_number %></th>
	  		<td><%= f.text_field :tan_number %></td>
			</tr>
	 	
		  <tr>
		  	<th><%= f.label :no_of_employees %></th>
	  		<td><%= f.number_field :no_of_employees %></td>
			</tr>
	 	 	
	  </div>

	  <div id="ngo_details">
	  </div>

	  <div id="socialist_details">
		  <tr>
		  	<th><%= f.label :age %></th>
	  		<td><%= f.number_field :age %></td>
			</tr>

		  <tr>
		  	<th><%= f.label :gender %></th>
	  		<td><%= f.text_field :gender %></td>
			</tr>

		  <tr>
		  	<th><%= f.label :adhaar_number %></th>
	  		<td><%= f.text_field :adhaar_number %></td>
			</tr>

		  <tr>
		  	<th><%= f.label :voter_id %></th>
	  		<td><%= f.text_field :voter_id %></td>
			</tr>  	

		  <tr>
		  	<th><%= f.label :nationality %></th>
	  		<td><%= f.text_field :nationality %></td>
			</tr>  	
	  </div>

	  <div id="ngo_company">
	 	  <tr>
	 	  	<th><%= f.label :owner %></th>
		  	<td><%= f.text_field :owner %></td>
	  	</tr>

	 	  <tr>
	 	  	<th><%= f.label :year_established %></th>
		  	<td><%= f.number_field :year_established %></td>
	  	</tr>

	 	  <tr>
	 	  	<th><%= f.label :service_type %></th>
		  	<td><%= f.text_field :service_type %></td>
	  	</tr>

	 	  <tr>
	 	  	<th><%= f.label :pan_number %></th>
		  	<td><%= f.text_field :pan_number %></td>
	  	</tr>
	  </div>

	  <tr>
	  	<th><%= f.submit "Sign up" %></th>
	  </tr>
  </table>
<% end %>

<%= render "users/shared/links" %>